
    <div class = "container">
        <div class = "col-md-4">
            <!--non eaten burgers go here-->
            {{#each burger}}
                        {{#unless this.eaten}}
                <div class="card" style="width: 18rem;">
                    <!--If i can make an array with a bunch of different burger urls and randomly add one. Otherwise delete this.-->
                    
                    <img class="card-img-top" src="..." alt="Blank burger">
                    <div class="card-body">
                      <h5 class="card-title">{{burger.name}}</h5>
                      
                      <a href="#" class="btn btn-primary">EAT THE BURGER</a>
                    </div>
                </div>
                {{/unless}}
            {{/each}}
        </div>
        <div class = "col-md-4">
            <div class = "form-group">
                <label for="borger"><h2><strong>Burger Input</strong></h2></label>
                <textarea class="form-control" rows="3" id="comment"></textarea>
                <button type="button" class="btn btn-outline-success btn-lg">Success</button>
            </div>
        </div>

        <div class = "col-md-4">
             <!--non eaten burgers go here-->
            {{#each burger}}
                        {{#if this.eaten}}
                <div class="card" style="width: 18rem;">
                    <!--If i can make an array with a bunch of different burger urls and randomly add one. Otherwise delete this.-->
                    
                    <img class="card-img-top" src="..." alt="Blank burger">
                    <div class="card-body">
                      <h5 class="card-title">{{burger.name}}</h5>
                      
                      <a href="#" class="btn btn-primary">EAT THE BURGER</a>
                    </div>
                </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
